@page
@model ITSupportDashboardModel
@{
    ViewData["Title"] = "IT Support Dashboard";
}

<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="text-center mb-4 text-white">IT Support Dashboard</h1>
    <h3 class="text-white">User Issues</h3>
    <table class="table table-striped table-hover bg-white shadow">
        <thead>
            <tr>
                <th>Issue ID</th>
                <th>User</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var issue in Model.Issues)
            {
                <tr>
                    <td>@issue.IssueID</td>
                    <td>@issue.User</td>
                    <td>@issue.Description</td>
                    <td>@issue.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>
