@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container text-center" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="mb-4 text-white">You have successfully logged out!</h1>
    <a href="/Login" class="btn btn-primary">Login Again</a>
</div>
