@page
@model PromotionsPageModel
@{
    ViewData["Title"] = "Promotions";
}

<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="text-center mb-4 text-white">Promotions</h1>
    <div class="row">
        @foreach (var promo in Model.Promotions)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@promo.Description</h5>
                        <p class="card-text">Discount: @promo.DiscountRate%</p>
                        <button class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
